* {
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

body {
  font-family: "Train One", cursive;
  background-color: peachpuff;
  text-align: center;
  line-height: 1.6;
}
h1 {
  margin: 2rem;
}

button {
  border-radius: 5px;
  padding: 1.5rem;
  background-image: radial-gradient(
    rgba(228, 226, 226, 0.616),
    rgb(185, 180, 180)
  );
  cursor: pointer;
  margin: 2rem;
  font-family: "Train One", cursive;
  -webkit-transition: all 0.5s;
}
button:hover {
  box-shadow: 0 0 50px #bada55;
  -webkit-transform: scale(1.2);
  border-radius: 10px 100px 100px 100px;
  transition-duration: 0.5s;
}
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.controls {
  margin: 2rem;
}
#score {
  margin: 2rem;
}
