* {
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

body {
  font-family: "Train One", cursive;
  background-color: peachpuff;
  text-align: center;
  line-height: 1.6;
}
h1 {
  margin: 2rem;
}

button {
  border-radius: 5px;
  padding: 1rem;
  background-image: linear-gradient(
    to right,
    rgba(228, 226, 226, 0.616),
    rgb(146, 143, 143)
  );
  cursor: pointer;
  margin: 1rem;
  font-family: "Train One", cursive;
}
button:hover {
  box-shadow: 0 0 50px #bada55;
  font-size: 17px;
  transition-duration: 0.3s;
}
.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}
